<div>
	<ngcart-cart template-url="components/ngcart/cart.html"></ngcart-cart>
</div>

<div class="col-md-5">

    <div id="order-summary" ng-if="cart.getTotalItems()>0">
        <div class="box-header">
            <h3>Resumen de orden</h3>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Subtotal de pedido</td>
                        <th>{{cart.getSubTotal() | currency}}</th>
                    </tr>

                    <tr ng-if="shipping">
                        <td>Envío y manejo</td>
                        <td ng-if="cart.getTotalPriceAfterShipping(shipping , coupon.amount).charge==0">
                            Free Shipping {{cart.getTotalPriceAfterShipping(shipping , coupon.amount).carrier}}
                        </td>
                        <td ng-if="cart.getTotalPriceAfterShipping(shipping , coupon.amount).charge>0">
                            {{cart.getTotalPriceAfterShipping(shipping , coupon.amount).charge | currency}} {{cart.getTotalPriceAfterShipping(shipping , coupon.amount).carrier}} <br/>
                            <small><i><a href="/">Tienda</a> {{cart.getTotalPriceAfterShipping(shipping , coupon.amount).more | currency}} more for free shipping</i></small>
                        </td>
                    </tr>
                    <tr ng-if="cart.getTotalPriceAfterShipping(shipping , coupon.amount).couponAmount">
                        <td>Coupon Discount</td>
                        <td><small>{{cart.getTotalPriceAfterShipping(shipping , coupon.amount).couponAmount | currency}}</small></td>
                    </tr>
                    <tr>
                    	<td>IVA</td>
                    	<th>{{cart.getSubTotal()*.16 | currency}}</th>
                    </tr>

                    <tr class="total">
                        <td>Total</td>
                        <th>{{cart.getSubTotal()*1.16 | currency}}</tg>
                        <!--<th>
                           {{cart.getTotalPriceAfterShipping(shipping , coupon.amount).total  | currency}}
                        </th>-->
                        <!-- <th ng-if="cart.getTotalPrice() < shipping.minOrderValue">
                            {{cart.getTotalPriceAfterShipping(shipping , coupon.amount) | currency}}
                        </th> -->
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
<!-- /.col-md-3 -->
