
<div class="col-md-12" id="popupContainer" ng-cloak>
  <h1>Cupones</h1>
   <button class="btn btn-primary" ng-click="$ctrl.resetads()">Reset</button>
  Filtro: {{filter}}
  <table class="table table-striped">
    <thead>
    <th>Name</th>
    <th>Ubicación</th>
    <th>Banner Abajo</th>
    <th>Banner Principal</th>
    </thead>
    <tbody>
    <tr ng-repeat="ad in ads">
      <td ng-hide="ad.edit">
        <a href="" ng-click="$ctrl.filterByad(ad.name)">
        {{ad.name}}</a>
      </td>
      <td ng-show="ad.edit">{{add.ubicacion}}</td>
      <td ng-hide="ad.edit">{{ad.ubicacion}}</td>
       <td ng-show="ad.edit"><input type="text" ng-model="ad.ubicacion"></td>
      <td ng-hide="ad.edit"><img width=auto height="25%"ng-src="{{ad.banneraabajo}}"></td>
      <td ng-show="ad.edit"><input type="text" ng-model="ad.banneraabajo"></td>
      <td ng-hide="ad.edit">{{ad.bannerprincipal}}</td>
      <td ng-show="ad.edit"><input type="text" ng-model="ad.bannerprincipal"></td>
      <td ng-hide="ad.edit">
          <button class="btn btn-success" ng-click="$ctrl.toggleEdit($index)">Edit</button><br>
          <button class="btn btn-danger" ng-click="$ctrl.deletead($index)">Delete</button>
     
      </td>
      <td ng-show="ad.edit">
          <button class="btn btn-primary" ng-click="$ctrl.savead($index)">Save</button><br>
          <button class="btn btn-danger" ng-click="$ctrl.toggleEdit($index)">Cancel</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div >